
<html>
    <head>
        <title>RFID Credit Tracking</title>
    </head>
    <body>
        <div>
            <h1> RFID Credit Tracking Server</h1>
            <h2>    for tracking time on hedron makerspace equipment</h2>
        </div>
        <br />

        <div>
        <p> <em>Please create a username</em></p>
        </div>

        <p> To manually add time, click the "Adjust time" button below </p>
        <a href="https://djangogirls.org">Made with DjangoGirls tutorial</a>
    </body>
</html>